<ul class="simple-social-sharer">
  {% for link in links %}
    <li class="simple-social-sharer__item">
      <a
        href="{{ link.url }}"
        rel="noopener noreferrer"
        target="_blank"
        class="simple-social-sharer__link {{ link.slug }}"
        title="{{ link.name }}"
        {% if link.slug == 'link' %}
          data-clipboard-text="{{ link.url }}"
          data-tooltip-content="{{ tooltip_content }}"
        {% endif %}
      >
        {{ link.icon }}
      </a>
    </li>
  {% endfor %}
</ul>
